.mainWrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;

  .FirstPart {
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    .backGround {
      width: 80%;
      display: flex;
      flex-direction: column;
      background: linear-gradient(
        90deg,
        rgba(36, 228, 216, 0.4430147058823529) 0%,
        rgba(39, 167, 151, 0.3981967787114846) 100%
      );
      justify-content: center;
      padding: 15px;
      border-radius: 20px;
      box-shadow: 1px 1px 15px 9px rgb(0 0 0 / 30%);

      .urlInput {
        .mat-form-field {
          width: 100% !important;
        }
      }
    }
  }

  .SecondPart {
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    .urlShow {
      width: 50%;
      text-align: center;
      border: 1px solid #ccc;
      border-radius: 5px;
      padding: 10px;

      .openUrl {
        cursor: pointer;
        text-decoration: none;
        color: #000;
      }
    }
  }
}
